
fastapi==0.111.0
numpy>=1.23.5,<2.0.0
onnxruntime==1.18.1
opencv-python>=4.2.0,<5.0.0
opencv-python-headless>=4.2.0,<5.0.0
Pillow>=9.4.0,<10.0.0
psutil>=6.0.0,<7.0.0
sahi==0.11.18
torch==2.3.1
ultralytics==8.2.56
uvicorn==0.30.1
